<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap" rel="stylesheet">
</head>
<body>
    <h1 style="text-align: center;">Ejercicio Componentes</h1>
    <h1>{{title}}</h1>
        <p>HTML significa lenguaje de marcado de hipertexto, y le permite al usuario crear y 
        estructurar secciones, párrafos, encabezados, enlaces y elementos de cita en bloque (blockquotes) 
        para páginas web y aplicaciones.</p>

        <p>HTML no es un lenguaje de programación, lo que significa que no tiene la capacidad de crear una funcionalidad dinámica. 
            En cambio, hace posible organizar y formatear documentos, de manera similar a Microsoft Word.
        </p>

        <img src="../../assets/img/html.jpg" width="50%" height="100%" alt="" srcset="">
</body>
</html>