<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
</head>
<body>
    <h1>{{title}}</h1>
        <p>CSS (en inglés Cascading Style Sheets) es lo que se denomina lenguaje de hojas de estilo en cascada y se usa para estilizar 
        elementos escritos en un lenguaje de marcado como HTML. 
        CSS separa el contenido de la representación visual del sitio.</p>

        <p>
            CSS fue desarrollado por W3C (World Wide Web Consortium) en 1996 por una razón muy sencilla. 
            HTML no fue diseñado para tener etiquetas que ayuden a formatear la página.
            Está hecho solo para escribir el marcado para el sitio.La relación entre HTML y CSS es muy fuerte. 
            Dado que HTML es un lenguaje de marcado (es decir, constituye la base de un sitio) 
            y CSS enfatiza el estilo (toda la parte estética de un sitio web), van de la mano.
        </p>

        <img src="../../assets/img/css.png" width="50%" height="100%" alt="">
</body>
</html>